solutions/ProjOpsForTimeghost/Workflows/ProcessProjectsfortimeghostsync-4E4B6FEF-5DF4-EB11-94EF-0022483FC4F7.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"mhcgapps_DataverseConnection"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"GMT Standard Time","schedule":{"hours":["6","12","18","0"],"minutes":[42]}},"type":"Recurrence"}},"actions":{"Get_Projects":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_projects","$filter":"statecode eq 0"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Apply_to_each_Project":{"foreach":"@outputs('Get_Projects')?['body/value']","actions":{"Project_Name":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each_Project')?['msdyn_subject']"},"Get_Sync_Details_for_Project":{"runAfter":{"Check_if_Account_in_Sync_Details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"mhcgapps_externalsyncdetails","$select":"mhcgapps_syncinternalid,mhcgapps_syncexternalid","$filter":"mhcgapps_externalsyncsystem eq 737530000 and mhcgapps_syncentitytype eq 737530005 and mhcgapps_syncinternalid eq '@{items('Apply_to_each_Project')?['msdyn_projectid']}'"},"authentication":"@parameters('$authentication')"}},"Customer_Account_ID":{"runAfter":{"Project_Name":["Succeeded"]},"type":"Compose","inputs":"@items('Apply_to_each_Project')?['_msdyn_customer_value']","description":"Assuming only putting Accounts in the Customer field on the Project record."},"Get_Sync_Details_for_Account":{"runAfter":{"Customer_Account_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"mhcgapps_externalsyncdetails","$select":"mhcgapps_syncinternalid,mhcgapps_syncexternalid","$filter":"mhcgapps_externalsyncsystem eq 737530000 and mhcgapps_syncentitytype eq 737530000 and mhcgapps_syncinternalid eq '@{outputs('Customer_Account_ID')}'"},"authentication":"@parameters('$authentication')"}},"Check_if_Account_in_Sync_Details":{"actions":{"Add_Account_to_Sync_Details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"mhcgapps_externalsyncdetails","item/mhcgapps_syncentitytype":737530000,"item/mhcgapps_externalsyncsystem":737530000,"item/mhcgapps_syncinternalid":"@outputs('Customer_Account_ID')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Sync_Details_for_Account":["Succeeded"]},"expression":{"equals":["@length(outputs('Get_Sync_Details_for_Account')?['body/value'])",0]},"type":"If"},"Check_if_Project_in_Sync_Details":{"actions":{"Add_Project_to_Sync_Details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"mhcgapps_externalsyncdetails","item/mhcgapps_syncentitytype":737530005,"item/mhcgapps_externalsyncsystem":737530000,"item/mhcgapps_syncinternalid":"@items('Apply_to_each_Project')?['msdyn_projectid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Sync_Details_for_Project":["Succeeded"]},"expression":{"equals":["@length(outputs('Get_Sync_Details_for_Project')?['body/value'])",0]},"type":"If"},"Get_Project_Tasks":{"runAfter":{"Check_if_Project_in_Sync_Details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_projecttasks","$filter":"msdyn_project/msdyn_projectid eq '@{items('Apply_to_each_Project')?['msdyn_projectid']}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_Project_Task":{"foreach":"@outputs('Get_Project_Tasks')?['body/value']","actions":{"Get_Sync_Details_for_Project_Task":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"mhcgapps_externalsyncdetails","$filter":"mhcgapps_externalsyncsystem eq 737530000 and mhcgapps_syncentitytype eq 737530006 and mhcgapps_syncinternalid eq '@{items('Apply_to_each_Project_Task')?['msdyn_projecttaskid']}'"},"authentication":"@parameters('$authentication')"}},"Check_if_Project_Task_in_Sync_Details":{"actions":{"Add_Project_Task_to_Sync_Details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"mhcgapps_externalsyncdetails","item/mhcgapps_syncentitytype":737530006,"item/mhcgapps_externalsyncsystem":737530000,"item/mhcgapps_syncinternalid":"@items('Apply_to_each_Project_Task')?['msdyn_projecttaskid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Sync_Details_for_Project_Task":["Succeeded"]},"expression":{"equals":["@length(outputs('Get_Sync_Details_for_Project_Task')?['body/value'])",0]},"type":"If"}},"runAfter":{"Get_Project_Tasks":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Get_Projects":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}