solutions/ProjOpsForTimeghost/Workflows/SynctimeghostClientsProjectsandProjectTasks-4F4939BC-57F4-EB11-94EF-0022483FCC3F.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"mhcgapps_DataverseConnection"},"api":{"name":"shared_commondataserviceforapps"}},"shared_timeghost_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"mhcgapps_TimeghostConnection"},"api":{"name":"shared_timeghost"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"Timeghost Workspace ID":{"defaultValue":"ab1ec1b1-ea71-472d-9055-4c398e7c9274","type":"String","metadata":{"schemaName":"mhcgapps_TimeghostWorkspaceID"}},"Timeghost Project Manager User ID":{"defaultValue":"b55eed95-2e13-4f07-84ef-65d8ddb048dc","type":"String","metadata":{"schemaName":"mhcgapps_TimeghostProjectManagerUserID"}}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"GMT Standard Time","schedule":{"hours":["21","9","15","3"],"minutes":[42]}},"type":"Recurrence"}},"actions":{"Get_Account_Sync_Details":{"runAfter":{"Init_variable_External_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"mhcgapps_externalsyncdetails","$filter":"mhcgapps_externalsyncsystem eq 737530000 and mhcgapps_syncentitytype eq 737530000"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Init_variable_External_ID":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"External ID","type":"string"}]},"description":"Updated within scope of relevant get and sync scopes."},"Apply_to_each_Account_Sync_Detail":{"foreach":"@outputs('Get_Account_Sync_Details')?['body/value']","actions":{"Update_External_ID_for_Account":{"runAfter":{},"type":"SetVariable","inputs":{"name":"External ID","value":"@{trim(coalesce(items('Apply_to_each_Account_Sync_Detail')?['mhcgapps_syncexternalid'],''))}"}},"Update_existing_timeghost_Client_or_add_new":{"actions":{"Update_Client":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_timeghost_1","operationId":"Update_Client","apiId":"/providers/Microsoft.PowerApps/apis/shared_timeghost"},"parameters":{"workspace-id":"@parameters('Timeghost Workspace ID')","ClientId":"@variables('External ID')","body/name":"@outputs('Get_Account_by_ID')?['body/name']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Account_by_ID":["Succeeded"]},"else":{"actions":{"Add_Client":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_timeghost_1","operationId":"Add_Client","apiId":"/providers/Microsoft.PowerApps/apis/shared_timeghost"},"parameters":{"workspace-id":"@parameters('Timeghost Workspace ID')","body/name":"@outputs('Get_Account_by_ID')?['body/name']"},"authentication":"@parameters('$authentication')"}},"Update_Account_Sync_Detail_record":{"runAfter":{"Add_Client":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"mhcgapps_externalsyncdetails","recordId":"@items('Apply_to_each_Account_Sync_Detail')?['mhcgapps_externalsyncdetailid']","item/mhcgapps_syncentitytype":737530000,"item/mhcgapps_externalsyncsystem":737530000,"item/mhcgapps_syncinternalid":"@items('Apply_to_each_Account_Sync_Detail')?['mhcgapps_syncinternalid']","item/mhcgapps_syncexternalid":"@outputs('Add_Client')?['body/id']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(variables('External ID'))",0]},"type":"If","description":"Existing here is based on the fact we already have the External ID - no check is made in timeghost."},"Get_Account_by_ID":{"runAfter":{"Update_External_ID_for_Account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@items('Apply_to_each_Account_Sync_Detail')?['mhcgapps_syncinternalid']","$select":"name"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Account_Sync_Details":["Succeeded"]},"type":"Foreach"},"Get_Project_Sync_Details":{"runAfter":{"Apply_to_each_Account_Sync_Detail":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"mhcgapps_externalsyncdetails","$filter":"mhcgapps_externalsyncsystem eq 737530000 and mhcgapps_syncentitytype eq 737530005"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_Project_Sync_Detail":{"foreach":"@outputs('Get_Project_Sync_Details')?['body/value']","actions":{"Update_External_ID_for_Project":{"runAfter":{},"type":"SetVariable","inputs":{"name":"External ID","value":"@{trim(coalesce(items('Apply_to_each_Project_Sync_Detail')?['mhcgapps_syncexternalid'], ''))}"}},"Update_existing_timeghost_Project_or_add_new":{"actions":{"Update_Project":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_timeghost_1","operationId":"Update_Project","apiId":"/providers/Microsoft.PowerApps/apis/shared_timeghost"},"parameters":{"workspace-id":"@parameters('Timeghost Workspace ID')","ProjectId":"@variables('External ID')","body/name":"@outputs('Get_Project_by_ID_for_Project_sync')?['body/msdyn_subject']","body/client/id":"@outputs('Client_ID')","body/billable":false,"body/completed":false,"body/taskBasedEstimation":true,"body/color":"#0000FF","body/estimation":0,"body/private":false,"body/users":[{"id":"@parameters('Timeghost Project Manager User ID')","role":1}]},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Client_ID":["Succeeded"]},"else":{"actions":{"Add_Project":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_timeghost_1","operationId":"Add_Project","apiId":"/providers/Microsoft.PowerApps/apis/shared_timeghost"},"parameters":{"workspace-id":"@parameters('Timeghost Workspace ID')","body/name":"@outputs('Get_Project_by_ID_for_Project_sync')?['body/msdyn_subject']","body/client/id":"@outputs('Client_ID')","body/billable":false,"body/completed":false,"body/taskBasedEstimation":true,"body/color":"#0000FF","body/estimation":0,"body/private":false,"body/users":[{"id":"@parameters('Timeghost Project Manager User ID')","role":1}]},"authentication":"@parameters('$authentication')"}},"Update_Project_Sync_Detail_record":{"runAfter":{"Add_Project":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"mhcgapps_externalsyncdetails","recordId":"@items('Apply_to_each_Project_Sync_Detail')?['mhcgapps_externalsyncdetailid']","item/mhcgapps_syncentitytype":737530005,"item/mhcgapps_externalsyncsystem":737530000,"item/mhcgapps_syncinternalid":"@items('Apply_to_each_Project_Sync_Detail')?['mhcgapps_syncinternalid']","item/mhcgapps_syncexternalid":"@outputs('Add_Project')?['body/id']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(variables('External ID'))",0]},"type":"If","description":"Existing here is based on the fact we already have the External ID - no check is made in timeghost."},"Get_Project_by_ID_for_Project_sync":{"runAfter":{"Timeghost_Project_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_projects","recordId":"@items('Apply_to_each_Project_Sync_Detail')?['mhcgapps_syncinternalid']"},"authentication":"@parameters('$authentication')"}},"Get_timeghost_Client_ID_from_sync_data":{"runAfter":{"Get_Project_by_ID_for_Project_sync":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"mhcgapps_externalsyncdetails","$select":"mhcgapps_syncexternalid","$filter":"mhcgapps_externalsyncsystem eq 737530000 and mhcgapps_syncentitytype eq 737530000 and mhcgapps_syncinternalid eq '@{outputs('Get_Project_by_ID_for_Project_sync')?['body/_msdyn_customer_value']}'","$top":1},"authentication":"@parameters('$authentication')"},"description":"Should only be 1."},"Client_ID":{"runAfter":{"Get_timeghost_Client_ID_from_sync_data":["Succeeded"]},"type":"Compose","inputs":"@first(body('Get_timeghost_Client_ID_from_sync_data')?['value'])['mhcgapps_syncexternalid']"},"Timeghost_Project_ID":{"runAfter":{"Update_External_ID_for_Project":["Succeeded"]},"type":"Compose","inputs":"@variables('External ID')"},"Get_Project_Tasks_for_Project":{"runAfter":{"Update_existing_timeghost_Project_or_add_new":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_projecttasks","$filter":"msdyn_project/msdyn_projectid eq '@{items('Apply_to_each_Project_Sync_Detail')?['mhcgapps_syncinternalid']}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_Project_Task":{"foreach":"@outputs('Get_Project_Tasks_for_Project')?['body/value']","actions":{"Get_Project_Task_Sync_Details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"mhcgapps_externalsyncdetails","$filter":"mhcgapps_externalsyncsystem eq 737530000 and mhcgapps_syncentitytype eq 737530006 and mhcgapps_syncinternalid eq '@{items('Apply_to_each_Project_Task')?['msdyn_projecttaskid']}'","$top":1},"authentication":"@parameters('$authentication')"},"description":"Should only be 1."},"Apply_to_each_Project_Task_Sync_Detail":{"foreach":"@outputs('Get_Project_Task_Sync_Details')?['body/value']","actions":{"Update_existing_timeghost_Project_Task_or_add_new":{"actions":{"Update_Task":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_timeghost_1","operationId":"Update_Task","apiId":"/providers/Microsoft.PowerApps/apis/shared_timeghost"},"parameters":{"workspace-id":"@parameters('Timeghost Workspace ID')","TaskId":"@outputs('External_ID_for_Project_Task')","body/client/id":"@outputs('Client_ID')","body/project/id":"@outputs('Timeghost_Project_ID')","body/name":"@items('Apply_to_each_Project_Task')?['msdyn_subject']","body/estimation":"@items('Apply_to_each_Project_Task')?['msdyn_effort']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"External_ID_for_Project_Task":["Succeeded"]},"else":{"actions":{"Update_Project_Task_Sync_Detail_record":{"runAfter":{"Add_Task":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"mhcgapps_externalsyncdetails","recordId":"@items('Apply_to_each_Project_Task_Sync_Detail')?['mhcgapps_externalsyncdetailid']","item/mhcgapps_syncentitytype":737530006,"item/mhcgapps_externalsyncsystem":737530000,"item/mhcgapps_syncinternalid":"@items('Apply_to_each_Project_Task_Sync_Detail')?['mhcgapps_syncinternalid']","item/mhcgapps_syncexternalid":"@outputs('Add_Task')?['body/id']"},"authentication":"@parameters('$authentication')"}},"Add_Task":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_timeghost_1","operationId":"Add_Task","apiId":"/providers/Microsoft.PowerApps/apis/shared_timeghost"},"parameters":{"workspace-id":"@parameters('Timeghost Workspace ID')","body/client/id":"@outputs('Client_ID')","body/project/id":"@outputs('Timeghost_Project_ID')","body/name":"@items('Apply_to_each_Project_Task')?['msdyn_subject']","body/estimation":"@items('Apply_to_each_Project_Task')?['msdyn_effort']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(outputs('External_ID_for_Project_Task'))",0]},"type":"If","description":"Existing here is based on the fact we already have the External ID - no check is made in timeghost."},"External_ID_for_Project_Task":{"runAfter":{},"type":"Compose","inputs":"@trim(coalesce(items('Apply_to_each_Project_Task_Sync_Detail')?['mhcgapps_syncexternalid'], ''))"}},"runAfter":{"Get_Project_Task_Sync_Details":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Get_Project_Tasks_for_Project":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Get_Project_Sync_Details":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}